
<!DOCTYPE html>
{% load static %}
<html lang="en">

    <header> 
        <meta charset="UTF-8">
        <title>Credits to D.C.I.P.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'the_archive/credits_style.css' %}">

        <style>
            
            .vertical-center {
              margin: 0;
              position: absolute;
              top: 50%;
              -ms-transform: translateX(-75%);
              transform: translateX(-75%);
            }
            </style>
            
           
    </header>
    <body>
<div class='center'><p></p></div>

<div class="container">
    <div class="vertical-center">
        
        <audio controls autoplay loop hidden>
            src="civic-platform-teamrando/the_archive/static/the_archive/Song7.mp3"
          </audio>
          
        
    </div>
  </div>


    <div class='wrapper'>
        <div class='movie'>
        Welcome to The Story of the People,<br> <br>
        <div class='name'> <br></div>
        who programmed that awesome Program !
    </div>
        
        <div class='name'> <br> <br></div>

        <div class='name'>
        Who are this Guys?</div>

        <div class='name'> <br></div>

        <div class='job'>
            Idea & Concept</div>
            <div class='name'>
            Mirjam L.</div>

        <div class='job'> <br></div>


        <div class='job'>
            Database & Model</div>
            <div class='name'>
            Michel H.</div>

        <div class='job'> <br></div>


        <div class='job'>
            Database & Model</div>
            <div class='name'>
            Dimi C. </div>

        <div class='job'> <br></div>


        <div class='job'>
            Datastructure & Geologie</div>
            <div class='name'>
            Nadia V.</div>

        <div class='job'> <br></div>


        <div class='job'>
            User Interface & API</div>
            <div class='name'>
            Badara</div>

        <div class='job'> <br></div>


        <div class='job'>
            Data Security & UX Design</div>
            <div class='name'>
            Pasco P.</div>

        

        <div class='job'> <br></div>
        <div class='job'> <br></div>

        
        <div class='name'>
            At first their was nothing but darkness ...<br>
            for a long time ...<br>
        </div>
    
        <div class='name'>
            then there was a little spark of light ...<br>
            brighter and brighter ...<br>
        </div>
    
        <div class='name'>
            and than there was the P22_E02 Python class ...<br>
            and the World was at Hope, Peace and Harmony ...<br>
        </div>
    
        <div class='job'> <br></div>
        <div class='job'> <br></div>

        <div class='name'>
            That's our Journey ...<br>
            
        </div>

        <div class='job'> <br></div>
        <div class='job'> <br></div>

        <div class='name'>
            We are a colorful, enthusiastic and very talented ...<br>
            bunch of people  from all over the World ...<br>
            that came here to Germany to find a good new life.<br>
            
        </div>

        <div class='name'>
            From Afghanistan, Africa, Brazil, Syria, Iran(Persia), <br>
            Great Britain, Italy, Poland, Ukraine, Kosovo, ...<br>
        </div>

        <div class='name'>
            and a lot of other Countries else on the World.<br>
            
        </div>

        <div class='name'>
            some times fleeing under difficult situations ...<br>
            from war and/or dictatorship ...<br>
        </div>

        <div class='name'>
            sometimes going through ...<br>
            hell and back again in Germany before ...<br>
        </div>

        <div class='name'>
            We entered the DCI Python Backend Developer Course ...<br>
            for many reasons ...<br>
        </div>

        <div class='name'>
            For make a change in our Career, <br>
            to get a good Job in the IT - Industry,<br>
        </div>

        <div class='name'>
            to give our Families a good life,<br>
            to make The World a better place,<br>
        </div>

        <div class='name'>
            because we are the next Generation ...<br>
            of Guardians of free Information for all of the World,<br>
        </div>

        <div class='name'>
            Freedom and Peace made possible by using IT ...<br>
            for a good reason and in a wise way !<br>
        </div>

        <div class='name'>
            This Journey at DCI was a 1 year long ...<br>
            
        </div>
        
        <div class='name'>
            Rodeo ride of ups and downs with many<br>
            problems, difficulties, difficult decisions,<br>
            sadness, madness but also a lot of happiness.<br>
        </div>

        <div class='name'>
            After all ...<br>
            we all made it finally to this point, now today ...<br>
        </div>
        
        <div class='name'>
            So a big Thank you to all members of the Class ...<br>
            
        </div>
        
        <div class='name'>
            it was a great pleasure to work with you all ...<br>
            and find new great friends in the class ...<br>
        </div>

        <div class='name'>
            Thank you also to DCI in a kind of way ...<br>
            
        </div>
        
        <div class='name'>
            And a big Thank you to our Teacher Victor and Nizar...<br>
            
        </div>
        
        <div class='name'>
            for being a lot patient with us all, ...<br>
            making us all strong enough for the hard World outside, ...<br>
        </div>

        <div class='name'>
            Thank you for giving us so much knowledge and Information ...<br>
            
        </div>
                
        <div class='name'>
            about Python, Developer's World and Life in general ...<br>
            and working with us, so we could grow beyond ourself!<br>
        </div>

        <div class='name'>
            We all have a lot knowledge with <br>
            different working and social backgrounds, ...<br>
        </div>
        
        
        <div class='name'>
            some of us are Captains or have PH.D.'s ...<br>
        </div>

        <div class='name'>
            some of us have Kids and Families ...<br>
        </div>

        <div class='name'>
            some of us are much life experienced ...<br>
        </div>

        <div class='name'>
            various Nations, Backgrounds and Personalities ...<br>
            mixed in this class ...<br>
        </div>
        
        <div class='name'>
            We all are hard working, experienced, ...<br>
            curious, eager to learn and enthusiastic Python Geeks ...<br>
        </div>

        <div class='name'>
            all we want and need is a good IT - Job ... <br>
        </div>
        
        <div class='name'>
            So if you have a Job opportunity, ...<br>
            get us the chance to show our work ability ...<br>
        </div>
        
        <div class='name'>
            We all are worth it, ...<br>
            and worth a try !<br>
        </div>
        
        <div class='job'> <br></div>

        <div class='name'>
            Thanks for watching!<br>
            Class P22_E02<br>
        </div>
        
        <div class='job'> <br></div>


        <div class='job'>
            This Movie Credits was made by :</div>
            <div class='name'>
            Pasco P. / Kathy P.</div>
        
        <div>
            <p> </p>
        </div>
        <div class='job'>
            <p ><img src="/media/headup3.jpg" width="440" height="620"></p>
        </div>
    


    <script type="text/javascript">
        var audio = new Audio('/media/Song7.mp3');
        audio.play();
     </script>
     
</body>
</html>
        








